---
import { ClientRouter } from "astro:transitions";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <style>
      html,
      body {
        overscroll-behavior: none;
      }
    </style>
    <link rel="icon" type="image/svg+xml" href="/tttt/vite.svg" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-black text-white selection:bg-cyan-500/30">
    <slot />
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.2s; /* Instant-feel snappy transition */
  }
</style>
